.main {
  display: flex;
  flex-flow: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  flex-grow: 1;
}
/* pour un écran medium et grande taille  */
@media (min-width: 768px) {
  .main {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
  }
}
